<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th *ngFor="let column of columns">{{column}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patient of patients; let i = index;">
      <td><a (click)="goToDetails(patient)">{{patient.hadm_id}}</a></td>
      <td>{{patient.age}}</td>
      <td>{{patient.gender}}</td>
      <td>{{patient.marital_status}}</td>
      <td>{{patient.language}}</td>
      <td>{{patient.admission_type}}</td>
      <td><a (click)="goToDetails(patient)">Details</a></td>
    </tr>
    </tbody>
  </table>
</div>
