<article>
  <div class="container-fluid">
    <div class="col-md-10">
      <pk-discharge-population2></pk-discharge-population2>
    </div>
    <div class="col-md-2">
      <div class="container-fluid">


        <!--To do: Decide what to do with these-->

        <!--<div class="row">-->
          <!--<pk-filter-population-by>pk-filtering-population-by</pk-filter-population-by>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<pk-proportion-at-risk></pk-proportion-at-risk>-->
        <!--</div>-->


        <div class="row">
          <pk-risk-legend></pk-risk-legend>
        </div>
      </div>
    </div>
  </div>
</article>







